
/* .dropdown-toggle img {
    margin: 0;
    padding: 0;
    border: none;
  }
 */
  .tredingMenu{

translate: 0px 10px;
  }

  .Tv{
    width: 1320px;
  }
  #text1{
    translate: -16px 0px;
  }

  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 10,
  }

  .card {
    transition: transform .4s, box-shadow 0.3s;
  }

  #pFooter{

    cursor: pointer;
  }

  #svg{
    cursor: pointer;
  }

  #btnP2:hover{background-color: white;
  color: grey;}

  hr{
    color: gray;
  }

  .baby{
    translate: -14px 10px;
    object-fit: cover;
  }
  .imgBaby{
    object-fit: cover;
  }
  .pencil{
   width: 16px;
  translate: -12px -17px;
  color: white;
  }

  svg path {
    fill: white;
  }


  #checkBox label{
    position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #ffffff;
  cursor: pointer;
  }